body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Ensure the body and html cover the full height of the page */
html, body {
  height: 100%;
  margin: 0; /* Remove default margin */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Horizontally center the image */
  align-items: center;      /* Vertically center the image */
  height: 100vh;             /* Make the container take up the full height */
}

img {
  width: 200px;
  max-width: 100%;  /* Prevent the image from overflowing */
  height: auto;     /* Keep the image aspect ratio */
  margin-bottom: 2rem;
}